# Copy to .env.release for local overrides. Never commit secrets.

# GITHUB_REPO=littlebobert/kehai
# WEBSITE_DIR=/Users/justin/dev/littlebobert.github.io
# LANDING_PAGE=/Users/justin/dev/littlebobert.github.io/kehai.html
# APPCAST_PATH=/Users/justin/dev/littlebobert.github.io/kehai-appcast.xml
# APPCAST_PRODUCT_LINK=https://littlebobert.github.io/kehai.html
# PUBLIC_LANDING_URL=https://littlebobert.github.io/kehai.html
# PUBLIC_APPCAST_URL=https://littlebobert.github.io/kehai-appcast.xml
# NOTARY_PROFILE=sasu-notary
# CODESIGN_IDENTITY=Developer ID Application: Justin Henry Garcia (XDWKSAH7W3)
# DEVELOPMENT_TEAM=XDWKSAH7W3
# SPARKLE_ACCOUNT=kehai
# RELEASE_TAG=0.1.0
# RUN_HOSTED_TESTS=1
